/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:ital,wght@0,700;1,600&display=swap');

/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Work Sans', sans-serif;*/

html, body {
    font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Work Sans', sans-serif !important;
}

a {
    text-decoration: none !important;
}


/*Main Style*/
.App {
    background: url('./assets/images/mainBg.svg') center center/cover no-repeat;
    min-height: 100vh;
}
.CardWrap_switchCard__2DAxh{
    border-radius: 1.25rem;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(308.78deg
, rgba(167, 177, 255, 0.12) -24.07%, rgba(123, 255, 239, 0.55) 285.12%);
    padding: 1.25rem 2.25rem 1.5rem !important;
}
.title h2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #040D27;
}

.title h2 {
    font-size: 36px!important;
}

.title--primary {
    line-height: 126%;
    letter-spacing: 0.03em;
    margin: 31px 10px 27px;
}



/*Buttons*/
.btnBrand {
    box-shadow: inset 0 2px 2px rgba(104, 164, 255, 0.25);
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    text-align: center;
    letter-spacing: 0.03em;
    width: 234px;
    height: 56px;
    color: #FFFFFF;
    border: 2px solid transparent;
    outline: none;
    transition: 300ms ease-in-out background-color, border, color;
    font-family: 'Inter', sans-serif !important;
}

.btnBrand--primary {
    background-color: #040D27;
}
.btnBrand:disabled {
    box-shadow: none;
}
.btnBrand--primary:hover {
    background-color: #fff;
    border: 2px solid #040D27;
    color: #040D27;
}
.btnBrand:disabled:hover {
    border: 2px solid transparent;
    color: #FFFFFF;
    background-color: #040D27;

}
/*Drop Down*/
.ui.fluid.dropdown {
    margin-top: 0.6875rem;
    box-shadow: 0 2px 14px rgba(34, 23, 79, 0.15) !important;
    background: #FFFFFF !important;
    border-radius: 10px !important;
    padding: 1rem !important;
    min-width: 290px !important;
    width: 100%;
    cursor: pointer !important;
    border: none !important;
    height: 64px;
    display: flex !important;
    align-items: center;
    font-weight: 500 !important;
    font-size: 1.125rem !important;
    line-height: 126% !important;
    letter-spacing: 0.03em !important;
    color: #040D27 !important;
    font-family: 'Inter', sans-serif !important;
}

.amountSelectItem .ui.fluid.dropdown {
    height: 87px !important;
}

.amountSelectItem .ui.fluid.dropdown:after {
    top: 32px;
}

.dropdown.icon {
    display: none;
}

.ui.fluid.dropdown:after {
    position: absolute;
    content: url("./assets/images/downArrow.svg");
    top: 20px;
    right: 8px;
}

.visible.menu {
    border: none !important;
    margin-top: 0.25rem !important;
    box-shadow: 0 2px 14px rgba(34, 23, 79, 0.15) !important;
    background: #FFFFFF !important;
    border-radius: 10px !important;
}

.ui.dropdown > .text, .visible.menu .item {
    display: flex !important;
    align-items: center !important;
}

.navbar-toggler {
    background: #ECEDF3 !important;
    border-radius: 10px !important;
    border-color: #ECEDF3 !important;
    padding: 0.25rem !important;
}

/*Modify Bootstrap*/
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1280px !important;
    }
}


@media (max-width: 991px) {
    .btnBrand {
        width: 100% !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 736px !important;
    }
	.CardWrap_switchCard__2DAxh{
		border-radius: 1.25rem;
		background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(308.78deg
	, rgba(167, 177, 255, 0.12) -24.07%, rgba(123, 255, 239, 0.55) 285.12%);
		padding: 1.25rem 1.5rem 1.5rem;
	}
}

@media (max-width: 330px) {
    .ui.fluid.dropdown {
        min-width: 100% !important;
    }

    .navbar-brand {
        max-width: 135px!important;
    }
}


